<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Travel Planner</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid justify-content-end">
                <div class="nav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">                                         
                    <span class="navbar-toggler-icon"></span>                   
                </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">View Saved trips</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">See on Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <div class="entry">
            <div class="fixed-wrap">
                <div id="fixed"></div>
            </div>
            <div class="entry-caption py-4 container text-center">
                <div class="row">
                    <div class="col-12">
                        <h1 class="fw-light">When is the best time to visit...</h1>
                    </div>
                    <form class="col-lg-6 col-md-8 col-sm-10 mx-auto" id="entry-form">
                        <div class="row">
                            <div class="col-sm-6 form-label">
                                <p>Destination</p>
                            </div>
                            <div class="col-sm-6 form-input">
                                <input type="text" class="form-control" id="destination-input" placeholder="(required) Berlin" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-label">
                                <p>Travelling from</p>
                            </div>
                            <div class="col-sm-6 form-input">
                                <input type="text" class="form-control" id="travelling-from-input" placeholder="London" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-label">
                                <p>Departure date</p>
                            </div>
                            <div class="col-sm-6 form-input">
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" id="date-input" placeholder="01/01/2021" value="">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar" id="date-input-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-light btn-lg">SEARCH</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="results py-4 container" id="results">           
        </div>

        <br> 
        
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h4>Saved Trips</h4>
                </div>
                <hr>
            </div>
        </div>
        <div class="saved-trips" id="saved-trips">
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <div class="row text-center padding">
                <div class="col-lg-6 float-start">
                    <div class="social">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 float-end">
                    <div>
                        <h5>&copy Abdus-Samad, <a href='#'>Udacity FEND Capstone Project</a> </h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src="lib/ClientLib.js"></script>

</body>

</html>