@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


// * {
//     border: 1px dotted black;
// }



.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.padding {
    padding-bottom: 2rem;
}

.container hr {
    border-top: 1px solid #381035;
    width: 95%;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}
